<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperação de Senha</title>
    <style>
      {{BASE_CSS}}
      {{CSS}}
    </style>
  </head>

  <body>
    <div class="main">
      <section aria-labelledby="recovery-title">
        <h2 id="recovery-title" class="title uppercase text-shadow">
          Recuperação de senha
        </h2>
        <div class="image-container">
          <img
            class="image"
            src="{{EMAIL_IMAGE}}"
            alt="Ilustração de pessoa recebendo um email"
          />
        </div>
      </section>

      <section class="text-grey-color" aria-labelledby="user-message">
        <div class="text-shadow">
          <h3 id="user-message" class="font-16">Olá, {{userName}}</h3>
          <p>
            Sua solicitação para resetar a senha foi atendida. Acesse o link
            abaixo para trocar a sua senha.
          </p>
        </div>
        <div>
          <a
            target="_blank"
            href="{{link}}"
            class="access-button"
            rel="noopener noreferrer"
          >
            Recuperar senha
          </a>
        </div>
      </section>

      <footer>
        <p class="margin-top-24 text-grey-color text-shadow">
          Atenciosamente, {{projectName}} 
        </p>
      </footer>
    </div>
  </body>
</html>
